:root {
    --orange: #e76f51;
    --dreamsicle: #f4a261;
    --yellow: #e9c46a;
    --lightblue: #2a9d8f;
    --darkblue: #264653;
    --sunset: #c10900;
    --darksunset: #761000;
}

body {
    width: 100%;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

header {
    height: 120px;
    background-image: linear-gradient(var(--orange), var(--dreamsicle));
    position: relative;
    z-index: 1;
}

.header-iden {
    width: 35%;
    background-image: linear-gradient(to bottom, var(--darkblue), var(--lightblue));
    /* position: fixed; */
    /* top: 0; */
    /* left: 50%; */
    /* margin-left: -17.5%; */
    margin: 0 auto;
    text-align: center;
    padding: 15px 0;
    min-height: 120px;
    border-radius: 0px 0px 15px 15px;
}

.header-title,
.header-phrase {
    display: none;
}

.header-title {
    font-family: "Island Moments", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5em;
    margin-top: -50px;
    width: 400px;
    position: absolute;
    top: 10px;
    left: 50%;
    margin-left: -202px;
}

.header-iden img {
    width: 80%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 50px;
}

.hero {
    width: 100%;
    position: relative;
}

.hero img {
    width: 100%;
    height: auto;
    max-height: 500px;
    object-fit: cover;
}

footer {
    min-height: 80px;
    margin-top: auto;
    background-image: linear-gradient(var(--dreamsicle), var(--orange));
    text-align: center;
    padding-top: 20px;
}

footer a {
    color: black;
}

.closed {
    display: none;
}

#hamburger {
    position: fixed;
    top: 7px;
    left: 7px;
    background-color: transparent;
    border: none;
    z-index: 2;
}

#hamburger::before {
    content: "☰";
    font-size: 25px;
    float: left;
    color: black;
    cursor: pointer;
}

#hamburger.open::before {
    content: "✖";
    color: #818181;
    cursor: pointer;
}

nav {
    width: 0;
}

#nav {
    height: 100%;
    position: fixed;
    top: -20px;
    left: 0;
    z-index: 1;
    /* display: flex; */
    overflow-x: hidden;
    padding-top: 60px;
    transition: width .5s, background-color .5s, color .1s;
    /* padding-right: 30px; */
    width: 0;
}

#nav a {
    padding: 5px 5px 5px 5px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: .3s;
    /* background-color: blue; */
}

#nav a:hover {
    color: #f1f1f1;
}

#nav li {
    list-style-type: none;
    display: none;
}

#nav.open {
    width: 250px;
    background-color: rgba(34, 34, 34, 1);
}

#nav.open li {
    display: block
}

#hamburger.open {
    left: 220px;
}

#nav.notopen {
    width: 0;
    background-color: rgba(34, 34, 34, 0);
    color: rgba(34, 34, 34, 0);
}

#hamburger.notopen {
    left: 7px;
}

.call-to-action {
    width: 50%;
    text-align: center;
    background-image: radial-gradient(circle at bottom center, var(--darksunset), var(--sunset));
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -25%;
    margin-top: -40px;
    padding: 30px 0;
    border-radius: 10px;
    border: 4px outset var(--darkblue);
    box-shadow: 5px 5px;
}

.call-to-action a {
    text-decoration: none;
    color: antiquewhite;
    font-size: 40px;
    z-index: 1;
}

.social img {
    width: 2em;
}

.social {
    margin-bottom: 10px;
    text-align: right;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
}

.cards div {
    border: 1px solid black;
    width: 40%;
    height: auto;
    margin: 15px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 5px 10px grey;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards hr {
    width: 85%;
    margin: 0 auto;
}

.cards img {
    max-width: 80%;
    height: auto;
    max-height: 70%;
}

.cards p {
    max-width: 80%;
}

.card a {
    width: 60%;
    background-color: var(--darksunset);
    color: white;
    padding: 4px 0;
    text-decoration: none;
    margin-top: 10px;
}

.cards h2 {
    width: 100%;
}

#weather {
    max-width: 50%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-image: linear-gradient(to bottom right, rgba(34, 34, 34, 1), rgba(34, 34, 34, .8));
    text-align: center;
    border: 2px double black;
    border-radius: 10px;
    padding-bottom: 10px;
}

#weather h2 {
    grid-column: 1/3;
    font-size: 1.5em;
    color: #f1f1f1;
}

#weather hr {
    grid-column: 1/3;
    width: 80%;
}

#weather img {
    max-width: 20%;
    /* background-color: blue; */
}

#weather p {
    font-size: 1em;
    margin: 0;
    color: #f1f1f1;
}

.tempbtn::after {
    content: "✖"
}

.tempbtn {
    width: 30px;
    border: none;
    background: none;
    position: absolute;
    top: 5px;
    left: 5px;
}

.tempbtn:hover {
    cursor: pointer;
}

.hightemp {
    position: fixed;
    width: 50%;
    top: 0;
    left: 50%;
    margin-left: -25%;
    z-index: 1;
    text-align: center;
    padding: 10px 0 5px 0;
    font-size: 1em;
    background-color: rgba(118, 16, 0, .8);
    border-radius: 0 0 5px 5px;
    /* background-image: radial-gradient(circle at top center, var(--darksunset), var(--sunset)) */
}

.hightemp p {
    padding: 0 15px 5px 15px;
    box-sizing: border-box;
    color: whitesmoke;
}

.container {
    position: relative;
    height: 200px;
}

#open-agreement {
    width: 70%;
    background-color: rgb(218, 209, 209);
    position: absolute;
    left: 50%;
    margin: 120px 0 0 -35%;
}

#open-agreement::after {
    content: "🔻"
}

#agreement {
    width: 70%;
    margin: 0 auto;
}


/* form styles */

.formWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form1 {
    display: block;
    width: 80%;
    max-width: 400px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 1px;
    margin-bottom: 20px;
    min-width: 200px;
}

.form1 input,
.form1 textarea {
    width: 90%;
}

.form1 label {
    display: block;
    padding-top: 1rem;
    color: #151053;
    font-size: .9rem;
}

.formWrapper h1 {
    padding-top: 1rem;
    text-align: center;
    color: black;
}

.form1 input[type="submit"] {
    border: none;
    background-image: linear-gradient(to bottom, var(--lightblue), var(--darkblue));
    color: #fff;
    border-radius: 6px;
    padding: .8rem;
    width: 85%;
    max-width: 200px;
    margin: 1rem auto;
    box-shadow: 1px 1px 4px #999;
    display: block;
}

.form1 input:required {
    border-bottom: 2.5px solid #6f200e;
    background-color: #eee;
}

.form1 input:required:valid {
    border: 1px solid #999;
    background-color: #eee;
}

.form1 p {
    text-align: center;
}

.thanks {
    border: 1px double var(--lightblue);
    width: 75%;
    margin: 150px auto;
    vertical-align: center;
    text-align: center;
    padding-bottom: 20px;
}

.spacer {
    height: 100px;
}

.rental-info {
    width: 100%;
    text-align: center;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 20px auto 30px auto;
    width: 80%;
}

.rental-info thead tr:nth-child(even) {
    background-color: black;
    color: white;
}

.rental-info thead tr:nth-child(odd) th {
    border: 1px solid black;
}

.rental-info tbody td,
.rental-info tbody th {
    border: 1px solid lightgray;
    vertical-align: middle;
}

.rental-info td {
    /* width: 2em; */
    text-align: center;
}

.rental-info th {
    min-width: 6em;
}

.rental-info tbody tr:nth-child(odd) {
    background-color: rgb(241, 241, 241);
}

.rental-info caption {
    display: table-caption;
    caption-side: bottom;
    color: black;
}

h1 {
    text-align: center;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 70%;
    margin: 0 auto;
}

.contact h1 {
    width: 100%;
    text-align: center;
}

.contact form {
    margin: 0 auto;
}

.maps {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#greyed {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(136, 136, 136, .8);
}