:root {
    --lightblue: #669bbc;
    --darkblue: #003049;
    --creamy: #fdf0d5;
    --red: #c1121f;
    --rust: #780000;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Afacad Flux", sans-serif;
}

html,
body {
    height: 100%;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.header-iden {
    background-color: var(--darkblue);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: var(--creamy);
    flex-wrap: nowrap;
    width: 100%;
    padding-left: 20px;
}

.header-title {
    max-width: 300px;
}

.header-img {
    max-height: 100%;
    padding: 10px;
}

.header-img img {
    max-width: 60px;
    border-radius: 2px;
}

nav .closed {
    display: none;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#nav {
    width: 50%;
    border-top: 1px solid black;
    font-size: 25px;
    background-color: var(--darkblue);
    color: var(--creamy)
}

nav .open {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    text-align: center;
    background-color: var(--lightblue);
    padding-left: 40px;
    padding-right: 40px;
}

ul li {
    list-style-type: none;
}

nav a {
    text-decoration: none;
    color: var(--creamy);
}

.button {
    width: 80%;
    margin: 0 auto;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    background-color: black;
}

.button picture {
    width: 100%;
}

.button img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.button button {
    width: 250px;
    height: 60px;
    border-radius: 10px;
    background-color: var(--lightblue);
    color: var(--creamy);
    font-size: 30px;
    position: absolute;
    top: 5px;
}

.cards {
    display: flex;
    max-width: 80%;
    flex-wrap: wrap;
    margin: 20px auto 0 auto;
    justify-content: center;
}

.card-2 {
    text-align: left;
    padding: 20px;
    flex-grow: 1;
    min-width: 80%;
    min-height: 80px;
    margin: 5px;
    box-shadow: 1.5px 3px 10px #888888;
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: rgb(240, 240, 240);
}

.card-1 {
    width: 80%;
    min-height: 80px;
    margin: 5px;
}


/* spotlight {
} */

.flexbox {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.spotlight-card {
    text-align: center;
    border: 1px solid lightgray;
    background-color: rgb(240, 240, 240);
    width: 100%;
    margin: 10px;
    box-shadow: 1.5px 3px 10px #888888;
    min-height: 80px;
}

.spotlight-card h2 {
    padding: 20px;
}

.spotlight-card p {
    width: 70%;
    margin: 0 auto;
}

footer {
    width: 100%;
    background-color: var(--darkblue);
    color: var(--creamy);
    text-align: center;
    margin-top: 20px;
}

#hamburger {
    position: absolute;
    top: .5em;
    right: 15px;
    background-color: transparent;
    border: none;
    color: var(--creamy)
}

#hamburger::before {
    content: "☰";
    font-size: 25px;
}

#hamburger.open::before {
    content: "✖";
}

.switch {
    position: absolute;
    right: 2px;
    z-index: 1;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.dark {
    background-color: #000 !important;
    color: #fff;
}

.small-img {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.medium-img {
    display: none;
}

.large-img {
    display: none;
}