:root {
    --lightblue: #669bbc;
    --darkblue: #003049;
    --creamy: #fdf0d5;
    --red: #c1121f;
    --rust: #780000;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Afacad Flux", sans-serif;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header-iden {
    background-color: var(--darkblue);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: var(--creamy);
    flex-wrap: nowrap;
    width: 100%;
    height: 150px;
    padding-left: 20px;
}

.header-title {
    max-width: 300px;
}

.header-title h2 {
    position: relative;
    bottom: 20px;
}

.header-img {
    max-height: 100%;
    padding: 10px;
}

.header-img img {
    max-width: 100px;
}

nav .closed {
    display: none;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav ul {
    width: 50%;
    border-top: 1px solid black;
}

nav .open {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    text-align: center;
    background-color: var(--lightblue);
    padding-left: 40px;
    padding-right: 40px;
}

ul li {
    list-style-type: none;
}

nav a {
    text-decoration: none;
    color: var(--creamy);
}

.button {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}

.button img {
    width: 80%;
    object-fit: cover;
}

.button button {
    width: 400px;
    height: 80px;
    border-radius: 10px;
    background-color: var(--rust);
    color: var(--creamy);
    font-size: 30px;
    position: absolute;
    top: 5px;
}

.cards {
    display: flex;
    max-width: 80%;
    flex-wrap: wrap;
    margin: 20px auto 0 auto;
    justify-content: center;
}

.cards section {
    border: 1px solid black;
    text-align: center;
}

.card-2 {
    flex-grow: 1;
    min-width: 80%;
}

.card-1 {
    width: 80%;
}

.spotlight-card {
    border: 1px solid black;
}

.spotlight-card h2 {
    padding: 20px;
}

.spotlight-card p {
    width: 70%;
}

footer {
    width: 100%;
    background-color: var(--darkblue);
    color: var(--creamy);
    text-align: center;
    margin-top: 20px;
}

#hamburger {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: var(--darkblue);
    border: none;
}

#hamburger::before {
    content: "☰";
    font-size: 25px;
}

#hamburger.open::before {
    content: "✖️"
}

.media {
    height: 20px;
    width: 100%;
    background-color: #669bbc;
}