@media only screen and (min-width: 1000px) {
    .media {
        background-color: black;
    }
    .spotlight-card {
        width: 40%;
        padding: 10px;
    }
    .flexbox {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}