@media only screen and (min-width: 1000px) {
    .button button {
        left: 10px;
    }
    .flexbox {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .spotlight-card {
        width: 30%;
        padding: 10px;
    }
    .spotlight-card img {
        width: 200px;
        max-width: 95%;
        height: auto;
        margin: 3px;
    }
}

@media only screen and (min-width: 1500px) {
    .medium-img {
        display: none;
    }
    .large-img {
        display: block;
        position: absolute;
        bottom: 10px;
        right: 10px;
    }
    .membership-page {
        flex-direction: row;
        max-width: 100%;
    }
    .formWrapper {
        flex-grow: 1;
    }
    .membership {
        flex-grow: 1;
    }
    .switch {
        top: 5px;
    }
}

@media only screen and (min-width: 1100px) {}