@media only screen and (min-width: 1000px) {
    .spotlight-card {
        width: 25%;
        padding: 10px;
    }
    .flexbox {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .button button {
        left: 10px;
    }
}