@media only screen and (min-width: 700px) {
    .card-2 {
        flex-grow: 1;
        min-width: 40%;
    }
    #nav {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        text-align: center;
        max-width: 80%;
        border: none;
        position: absolute;
        top: -10px;
        right: 1rem;
        background: none;
        font-size: 1.5em;
        padding: 0px 0px;
    }
    #nav li {
        display: block;
        flex: 1 1 100%;
        padding: 30px 10px;
        border-radius: 10px 10px 0 0;
    }
    .left-col {
        grid-column: 1/7
    }
    .right-col {
        grid-column: 7/13
    }
    #hamburger {
        display: none;
    }
}